body {
	margin: 0;
	padding: 0;
	background: #14495e;
}

.container {
	top: 0;
	left: 0;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.stackcontainerbottom {
	top: 100px;
	left: 100px;
	position: absolute;
}

.stackcontainertop {
	position: absolute;
	top: 240px;
	left: 130px;
}

.stackcontainertoptwo {
	position: absolute;
	top: 240px;
	left: 260px;
}

.eyes {
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
	position: absolute;
	text-align: center;
}
.eyezero {
	width: 40px;
	height: 40px;
	background: #fff;
	display: inline-block;
	margin: 40px;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	left: 100px;
}

.eyeone {
	width: 40px;
	height: 40px;
	background: #fff;
	display: inline-block;
	margin: 40px;
	border-radius: 50%;
	position: absolute;
	overflow: hidden;
	left: 241px;
}

.ball {
	width: 35px;
	height: 35px;
	background: #000;
	position: absolute;

	transform: translate(-50%, -50%);
	border-radius: 50%;
}

#name {
	top: 540px;
	position: absolute;
}

#controller {
	top: 600px;
	position: absolute;
}

#namePlate {
	text-align: center;
	align-items: center;
	width: 800px;
	align-content: center;
}

.puppymove {
	transform: translate(40px, 40px);
}

.elephantmove {
	transform: translateX(40px);
}
.lionmove {
	transform: translateX(40px);
}
.wolfmove {
	transform: translate(100px, 30px);
}
.ratmove {
	transform: translate(15px, 15px);
}
.catmove {
	transform: translate(100px, 15px);
}
.tigermove {
	transform: translate(65px, 15px);
}
.leopardmove {
	transform: translate(65px, 15px);
}

iframe {
	height: 1000px;
	width: 800px;
	margin: 0 auto;
	display: block;
	border: 0;
}

body {
	margin: 0;
	padding: 0;
	background: #14495e;
}
